.img-logo {
    background-image: url("../../assets/images/logos/Logo.ico");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45px; 
    width: 45px
}